$colorDarkgrey:#666666;
$colorDarkblue:#5A6372;
$colorOrange:#FF9966;
$colorGrey:#EDF1F4;

#about{
	height: 80vh;
	h2{
		padding-top: 3vh;
		text-align: center;
	}
	text-align: center;
	#description{
		width: 70vw;	
		margin:auto;
		padding: 5vh 0 10vh 0;
	}
	.cards{
		width: 100%;
		text-align: center;
		margin:auto;
		display: flex;
	}
	.aboutCard{
		width:30vw;
		height: 54vh;
		background: $colorGrey;
		border: 1px solid $colorGrey;
		align-items:center;
		margin:  0 5vw 0 5vw;
		img{
			width: 50%;
			height: auto;
		}
	}
}
