#header {
    height: 3em;
    width: 100%;
    line-height: 3em;
    position: fixed;
    color: #fff;
    left: 0;
    top: 0;

    h3 {
        height: inherit;
        line-height: inherit;
        top: 0;
        left: 1.25em;
        letter-spacing: 0.225em;
        position: absolute;
        margin: 0;
        border: 0;
        padding: 0;
        animation-name: header-emerge;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
    }

    nav {
        height: inherit;
        line-height: inherit;
        top: 0;
        right: 0;
        position: absolute;
        animation-name: header-emerge;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
    }

    nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    nav > ul > li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

    @keyframes header-emerge {
        from {opacity: 0;}
        75% {opacity: 0;}
        to {opacity: 1;}
    }
}
