$colorDarkgrey:#666666;
$colorDarkblue:#5A6372;
$colorOrange:#FF9966;
$colorGrey:#EDF1F4;

#member{
	h2{
		padding-top: 2.5em;
		text-align: center;
	}

    .memberContent {
        padding: 0 6vw;

        .memberListTitle{
        /*	background-color: $colorOrange;
            height: 0.5em;

            background-color: $colorOrange;*/

            .titleDecoration{
                background-color: $colorOrange;
                height: 0.4em;
                margin-top: -1.2em;
            }

            #currentMemberDecoration{
                width: 9em;
            }

            #alumniDecoration{
                width: 4em;
            }

        }

        .memberList{
            display: flex;
            flex-wrap: wrap;

            .memberCard{
                width: 33.3%;
                text-align: center;

                a {
                    color: black;
                }
            }

            img{
                width: 40%;
                margin-top: 2em;
                border-radius: 100%;
            }
        }
    }
}

@media screen and (max-width: 510px) {
    #member{
        .memberContent {
            .memberList{
                .memberCard{
                    width: 50%;
                }
            }
        }
    }
}
