$colorDarkgrey:#666666;
$colorDarkblue:#5A6372;
$colorOrange:#FF9966;
$colorGrey:#EDF1F4;


section{
	height: 80vh;

	h2{
		padding-top: 3vh;
		text-align: center;
	}
	
}

#about{
	
}

#project{
	background: #EDF1F4;
}

.aboutCard{
	float:left;
	margin-left: 10vw;
}