<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/main.css" type="text/css" media="all" />
  </head>
  <body>
    <section id="banner">
      <div class="inner">
        <h2>{{banner-title}}</h2>
        <p>{{banner-intro}}</p>
      </div>
    </section>
  </body>
</html>
