<section id="banner">
  <div class="inner">
    <h2>{{banner-title}}</h2>
    <p>{{banner-intro}}</p>
  </div>
  <div class="more">
    <a href="#about">
      <i class="fa fa-chevron-circle-down fa-3x"></i>
    </a>
  </div>
</section>
