<div id="menu">
  <div id="menu-other">
  </div>
  <div id="menu-bar">
    <ul>
      <li>
        <a href="#about">
          {{about-title}}
        </a>
      </li>
      <li>
        <a href="#project">
          {{project-title}}
        </a>
      </li>
      <li>
        <a href="#member">
          {{member-title}}
        </a>
      </li>
    </ul>
    <span>
      <i class="fa fa-times menu-close"></i>
    </span>
  </div>
</div>
